body {
    font-family: arial;
  }
a {text-decoration:none; white-space:nowrap}
a {color: #004d80}
a:hover {text-decoration:underline}
a.button {text-decoration:none}
h1,h2,h3,h4,h5,h6 {margin:0.2em 0 0.25em 0; display:block;
	  font-family: Arial}
h1 {font-size:4.00em}
h2 {font-size:3.00em}
h3 {font-size:2.10em}
h4 {font-size:1.60em}
h5 {font-size:1.25em}
h6 {font-size:1.12em}
th,label {font-weight:bold; white-space:nowrap;}
td,th {text-align:left; padding:2px 5px 2px 5px}
form table tr td label {text-align:left}
p,table,ol,ul {padding:0; margin: 0.75em 0}
p {text-align:justify}
ol, ul {list-style-position:outside; margin-left:2em}
li {margin-bottom:0.5em}
span,input,select,textarea,button,label,a {display:inline}
img {border:0}
div {font: arial; vertical-align:top;}

@font-face{
font-family: open sans;
src: url('OpenSans-Regular.ttf');
}

div.main {
    width: 97%;
    margin: auto;
    overflow: hidden;
    float: none;
}

div.scrolled{
    background: #FCFCF8;
    padding: 5px 5px 5px 5px;
    border: 1px solid #b2a7a7;
    width: 95%;
    overflow: scroll;
}

div.monospace {
    margin: 5px;
    padding: 5px 5px 5px 5px;
	font-size: 12px;
    font-family: monospace;
    font-style: bold;
    background: #f7f7ed;
    border: 1px solid #b2a7a7;
    width: 95%;
    word-wrap: break-word;
}
b.monospace{
  font-family: monospace;
}
div.warning{
    background: #F7DDD8;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
}
div.scrollableContainer {
    position: relative;
    width: 1124px;
    padding-top: 1.7em;
    margin: 10px;
    border: 1px solid #999;
    background: #D8F6CE;
}
div.scrollingArea {
    border:1px solid #b2a7a7;
    height: 450px;
    overflow: auto;
    margin: 10px;
}
.scrollingArea h5 {
    font-size:14px;
    font-family:monospace;
    background-color: #A9E2F3;
    padding: 2px;
}

.highlight {
    background-color: #D0D0B9;
}

div.floatleft {
    float:left;
    margin: 4px;
    padding: 2px;
    width: 58%;
}
.floatleft h5 {
    font-size:14px;
    font-family:monospace;
    background-color: #A9E2F3;
    padding: 2px;
}

div.floatright {
    float:right;
    margin: 2px;
    padding: 2px;
    width: 38%;
}
.floatright h5 {
    font-size:14px;

    padding: 2px;
}

.tinytable {
    font-family:monospace;
	font-size:12px;
}
.tinytable table{
	margin:1px;
    padding:2;
}.tinytable td{
    border-spacing: 0;
    border:0px solid #b2a7a7;
    border-width:0px 0px 0px 0px;
    width: 80px;
    white-space: nowrap;
}
.tinytable th{
    background-color: #F1F1F1;
    border-width:0px 0px 0px 0px;
}

.tinytable tr:nth-child(even){ background-color:#F7F7F7; }

.seqtable {
	margin:0px;padding:2px;
	border:1px solid #b2a7a7;
	font-family: monospace;
	font-style: bold;
	font-size:9px;
	white-space: nowrap;
}
.seqtable table{
	margin:2px;
}
.seqtable td{
    width:100%;
    border:0px solid #b2a7a7;
	border-width:0px 0px 0px 0px;
	margin:0px;
	padding:1px 4px 0px 4px;
}
.seqtable th{
    padding:1px 4px 0px 4px;
    /*background-color:  #E0ECF8;*/
}
.seqtable tr:nth-child(even){ background-color:#F7F7F7; }

.gridtable{
    border: 1px solid #b2a7a7;
    font-size: 11px;
    font-family: monospace;
    background-color: white;
}
.gridtable td{
    font-size: 11px;
    min-width: 16px;
    text-align: center;
    width: 100%;
    border: 1px solid #b2a7a7;
	margin: 0px;
	padding: 1px 2px 1px 2px;
}
.gridtable th{
    font-size: 11px;
    padding: 2px 4px 2px 4px;
    border:1px;
}

.test {} body{
    background-color: white;
}

/* Sortable tables */
.sortable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #b2a7a7;
	font-family: monospace;
	font-size:11px;
}
.sortable table{
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
	height:100%;
	margin:0px;padding:2px;
}
.sortable td{
	font-size: 11px;
	border-width: 0px 0px 0px 0px;
	margin: 1px;
    padding: 2px 3px;
    width: 100%;
}
.sortable th{
    background-color:  #ECF0F1;
    border-width: 0px 0px 0px 0px;
    max-width: 300px;
    min-width: 40px;
    word-wrap: break-word;
}
.sortable tr:nth-child(even){ background-color:#F7F7F7; }

.genometable {
    font-family: monospace;
	font-size: 13px;
}.genometable td{
    border-spacing: 0;
    border-width:0px 0px 0px 0px;
    border:0px;
    max-width: 500px;
    word-wrap: break-word;
}
.genometable th{
    background-color: #F1F1F1;
    border-width:0px 0px 0px 0px;
    width: 150px;
}

.genometable tr:nth-child(even){ background-color:#F7F7F7; }

.col-submit {
  text-align: center;
  padding: 20px;
}

.divheader {
    font-family: "open sans";
	font-style: bold;
	font-size: 16px;
	background-color: #F1F1F1;
	padding: 4px;
    margin-bottom: 4px;
    background-image:url('pattern1.png');
}

.divheader h3{
    font-size:2.00em;
    font-family: "open sans";
}
.divheader img {
    float: right;
}

.divheader span {
    margin: 0 3px;
}

div.help-page{
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.48em;
}

div.footer {
    background-color: #F1F1F1;
    padding: 4px;
    bottom: 0;
    margin: 4px;
    width: 98%;
}

form {
    width: 800px;
}

input[type=text],input[type=password]{
    font-size: 14px;
    width: 100px;
    height: 25px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    margin-left: 2px;
    margin-right: 4px;
    margin-top: 5px;
    padding-left: 5px;
}

input.button {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    width: 100px; height: 22px;
    transition: all 0.1s linear 0s;
    top: 0px;
    margin: 10px;
}

select {
    font-size: 14px;
    height: 22px;
}

.form label {
    display: inline-block;
    width: 150px;
}

.tabs {
  position: relative;
  min-height: 450px;
  min-width: 480px;
  width: 100%;
  clear: both;
  margin: 35px 0 25px;
  background: white;
}
.tab {
  float: left;

}
.tab label {
  font-size: 13px;
  background: #E0EBF1;
  padding: 6px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  top: -29px;
  -webkit-transition: background-color .17s linear;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: -1px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-transition: opacity .6s linear;
  opacity: 0;
   height:450px;
   overflow:auto;
}
[type=radio]:checked ~ label {
  background: lightblue;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}

.largebtn {
  background: #336699;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: "open sans" Arial;
  color: #f5f5f5;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.largebtn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.largebtn span {
    font-family: "open sans" Arial;
    display: inline-block;
    padding: 20px 30px 20px 30px;
    width: 120px;
    text-align: center;
}

.largetable{
    font-size: 20px;
    cellspacing: 20px;
    max-width: 70%;
}
.largetable td{
    font-family: "open sans" Arial;
    padding: 0 0 0 20px ;
}

.combobox {
    height: 100px;
    width: 150px;
}

.textbox select {
    width: 250px;
}
.configform table{
    background:  #F1F1F1;
    padding: 10px;
}
.configform td{
    valign: top;
}
.configform input{
    width: 200px;
}